.sider {
  overflow: auto !important;
  height: 100vh !important;
  position: fixed !important;
  inset-inline-start: 0 !important;
  top: 0 !important;
  bottom: 0 !important;
  scrollbar-width: thin !important;
  scrollbar-gutter: stable !important;
  border-right: 2px solid rgba(0, 0, 0, 0.06) !important;
}

.siderHeader {
  padding: 33px 0px !important ;
  cursor: pointer !important;
}

.logout_bottom_menu_item {
  color: #ff4d4f !important;
}
