.search_input {
  width: 100% !important;
  margin-bottom: 40px !important;
}

.search_input_icon {
  color: rgba(0, 0, 0, 0.45) !important;
}

.top_menu {
  border-inline-end: 0px !important;
}

.logout_bottom_menu_item {
  color: #ff4d4f !important;
}
