.container {
  height: 100% !important;
  width: 100% !important;
  position: relative !important;
}

.layout {
  height: 100% !important;
  overflow: auto !important;
  position: relative !important;
}

.content {
  padding: 20px !important;
  background: white !important;
}
