@font-face {
  font-family: 'IRANSansXFaNum';
  src: url('/assets/fonts/IRANSansXFaNum-Thin.ttf') format('truetype');
  font-weight: 100;
  font-display: swap;
}

@font-face {
  font-family: 'IRANSansXFaNum';
  src: url('/assets/fonts/IRANSansXFaNum-UltraLight.ttf') format('truetype');
  font-weight: 200;
  font-display: swap;
}

@font-face {
  font-family: 'IRANSansXFaNum';
  src: url('/assets/fonts/IRANSansXFaNum-Light.ttf') format('truetype');
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: 'IRANSansXFaNum';
  src: url('/assets/fonts/IRANSansXFaNum-Regular.ttf') format('truetype');
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'IRANSansXFaNum';
  src: url('/assets/fonts/IRANSansXFaNum-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'IRANSansXFaNum';
  src: url('/assets/fonts/IRANSansXFaNum-DemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'IRANSansXFaNum';
  src: url('/assets/fonts/IRANSansXFaNum-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'IRANSansXFaNum';
  src: url('/assets/fonts/IRANSansXFaNum-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'IRANSansXFaNum';
  src: url('/assets/fonts/IRANSansXFaNum-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

* {
  /* font-family: 'IRANSansXFaNum', sans-serif; */
  font-family: sans-serif;
}

html {
  scroll-behavior: smooth;
  height: 100dvh;
  /* background: white; */
  margin: 0;
}

body {
  background-color: transparent;
  margin: 0;
  height: 100%;
}

#__next {
  height: 100%;
}

.ant-menu-item {
  display: flex !important;
  align-items: center !important;
}

.custom-menu-item-icon-size {
  font-size: 16px !important; /* Adjust the size as needed */
}
